<h3>以下の内容で、ツイートする。</h3>

<%= form_for(@tweet) do |f| %>
  <!-- `f.hidden_field`を使用して、リクエストパラメータに値を設定できるようにしています。 -->

  <%= f.hidden_field :content %>

  <!-- @tweet.contentとすることで、表示用の値を画面に出力しています。 -->

  <p>本文:<%=  simple_format(@tweet.content) %></p>
  <%= f.submit "ツイートする" %>
<% end %>

<%= form_for(@tweet, url: new_tweet_path, method: 'get') do |f| %>

  <%= f.hidden_field :content %>
  <%= f.submit "もどる", name: 'back' %>
<% end %>
