<h2>ツイートを編集する</h2>

<%= render 'form' %>






<!-- <p id="notice"><%= notice %>


<%= form_for(@tweet) do |f| %>
<% if @tweet.errors.any? %>
<div id="error_explanation">

<h2><%= @tweet.errors.count %>件のエラーがあります。</h2>
<ul>
<% @tweet.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>

</ul>
</div>
<% end %>

<br>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <br>
  <%= f.submit 'ツイートを編集する' %>
<% end %>

<%= link_to "ツイート一覧画面にもどる", tweets_path %>
 -->
